@page
@model MyFrontend.Pages.Trains.DeleteModel

<h2>DELETE TRAIN</h2>

<form method="post">
    <div class="mb-3">
        <label for="Id" class="form-label">Enter Train Id</label>
        <!-- обычное текстовое поле, без type="number" -->
        <input id="Id" name="Id" type="text" class="form-control" placeholder="Enter train ID" />
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>


