@page
@model MyFrontend.Pages.Trains.ReadModel

<h2>LIST OF TRAINS</h2>

@if (Model.Trains == null || !Model.Trains.Any())
{
    <p>No data.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Number of seats</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var train in Model.Trains)
            {
                <tr>
                    <td>@train.TrainId</td>
                    <td>@train.Name</td>
                    <td>@train.NumberOfSeats</td>
                </tr>
            }
        </tbody>
    </table>
}
